 html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #333;
    overflow: hidden;
    color: #FFF;
    font-family: Arial;
}
#canvas-container {
    background: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    gap: 10px;

}

#sim-canvas {
    background-color: #FFF;
}


#params-group{
    background-color: rgb(24, 24, 100);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.param{
    display: flex;
    flex-direction: row;
}

#reset-btn{
    height: 30px; 
    width: 100px;
    background-color: rgb(200, 20, 20);
    border: none;
    color: #FFF;
}

#reset-btn:hover{
    cursor: pointer;
}


#reset-btn:active{
    background-color: rgb(150, 20, 20);
}






