 html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      background: #000;
      overflow: hidden;
    }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
}

#canvas-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #111;
}

canvas {
    display: block;
    background: #FFF;
}

#bottom-bar {
    height: 200px;
    width: 100%;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

